// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


main {
  font-family: "Bitcount Prop Single", monospace;
}

.row {
  flex-wrap: nowrap;
}

.col-auto {
  flex-basis: calc(100% / 10);
}

th {
  color: #2379fa !important;
}

td {
  color: #ffc107 !important;
}

img {
  width: 60px;
}